nav {
    width: 100%;
    position: fixed;
    background-color: lightgrey;
}

ul {
    list-style: none;
    float: right;
}

li {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}

a {
    color: black;
}

.home-content, .my-profile-content, .about-us-content {
    padding-top: 50px;
    padding-left: 40px;
}

.text-with-underline {
    text-decoration: underline;
}

.text-without-underline {
    text-decoration: none;
}
